<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Rideau</title>
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet"/>
    <link href="/stylesheets/foundation.min.css" rel="stylesheet"/>
    <link href="/stylesheets/basic.css" rel="stylesheet"/>
    <script src="/javascripts/jquery-2.2.4.min.js"></script>
</head>

<body>

<% include _header.ejs %>

<div class="row">
    <div class="large-12 columns">
        <p>Welcome to the admin</p>
    </div>
</div>

<script src="/javascripts/foundation/foundation.js" type="text/javascript"></script>
<script src="/javascripts/foundation/foundation.dropdown.js" type="text/javascript"></script>
<script src="/javascripts/accounting.min.js" type="text/javascript"></script>

<script>
    $(document).foundation();
</script>
</body>
</html>