@charset "UTF-8";

/* Mixins */
@mixin centered() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  } @else if ($horizontal) {
	left: 50%;
	transform: translate(-50%, 0);
  } @else if ($vertical) {
	top: 50%;
	transform: translate(0, -50%);
  }
}

/* Colors configuration */

/* Body color */
$body_c: #000;
$rideau-gray: #444;

/* Input, Textarea */
$input_b_c: #a9a9a9; // Input background
$input_f_b: #a5a5a5; // Input focus background
$input_c: #ffffff; // Input Color
$input_checked_c: #000000; // Input checked Color
$placeholder_color: #fff;

/* Label */
$label_c: #ffffff;

/* Button black */
$button_b_c: #000000; // Button background
$button_f_b: #000000; // Button focus, hover, active color
$button_f_c: #ffffff; // Button focus color
$button_c: #ffffff; // Button Color

/* Button grey */
$button_grey_b_c: #888888; // Button background
$button_grey_f_b: #777777; // Button focus, hover, active color
$button_grey_f_c: #ffffff; // Button focus color
$button_grey_c: #ffffff; // Button Color

/* Link color */
$link_c: #000000; // Link color
$link_h_c: #555; // Link hover color
$link_f_c: #000; // Link focus color
$link_dis_c: #c9c9c9; // Link disabled color

/* Modal links */
$modal_link_c: #ffffff; // Link color for modals

/* Title color */
$body_c: #232323; // Body and title default color
$title_h_c: #ffffff; // Title h color
$header_h_c: #000000; // Header title color

/* Loader */
$loader_b_c: #ffffff; // Loader background color

/* Accordeon color */
$accordeon_t_c: #ffffff; // Accordeon title color

/* Font configuration */
@font-face {
	font-family: 'AkzidenzGrotesk-Light';
	src: url('../fonts/AkzidenzGrotesk-Light.eot');
	src: url('../fonts/AkzidenzGrotesk-Light.woff2') format("woff2"), url('../fonts/AkzidenzGrotesk-Light.woff') format("woff"), url('../fonts/AkzidenzGrotesk-Light.ttf') format("truetype"), url('../fonts/AkzidenzGrotesk-Light.svg#AkzidenzGrotesk-Light') format("svg"), url('../fonts/AkzidenzGrotesk-Light.eot?#iefix') format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sackers';
	src: url("../fonts/SackersGothicStd-Light.otf") format("opentype");
}

/* The font from the internet */
/* The old font from the internet, no longer used */
/*@font-face {
  font-family: 'SackersGothicStd-Light';
  src: url('../fonts/SackersGothicStd-Light.eot');
  src: url('../fonts/SackersGothicStd-Light.woff2') format('woff2'), url('../fonts/SackersGothicStd-Light.woff') format('woff'), url('../fonts/SackersGothicStd-Light.ttf') format('truetype'), url('../fonts/SackersGothicStd-Light.svg#SackersGothicStd-Light') format('svg'), url('../fonts/SackersGothicStd-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}*/

/* Variables */
$sackers_font: Sackers, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$akzidenz_font: AkzidenzGrotesk-Light, AkzidenzGrLt, Akzidenz Gr Lt Regular, sans-serif;

/* For width */
$mobile: 320px;
$tablet: 640px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;

/* For height */
$tall: 600px;
$short: 300px;

/* Rideau core */
html.rideau {
	background-color: white;
	
	/* All transitions */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	blueprints {
		display: none !important; //Blueprints are never shown
	}
	
	/* Fonts */
	.akzidenz {
		font-family: $akzidenz_font;
		letter-spacing: 3px;
	}

	.sackers {
		font-family: $sackers_font;
	}
	
	.bold {
		font-weight: bold;
	}
	
	a[href^="mailto"] {
		p {
			color: black;
			text-decoration: underline;
		}
	}
	
	/* The default font is Akzidenz */
	h1, h2, h3, h4, h5, h6, p {
		font-family: $sackers_font;
		letter-spacing: 2px;
		color: $body_c;
	}
	
	p {
		font-family: $akzidenz_font;
	}
	
	/* One full page style */
	.one-full-page {
		height: 100vh;
	}
	
	#r-top-logo {
		width: 75px;
		margin-top: 8px;
	}
	
	/* Gender containers are found on eboutique and detail pages */
	.gender_containers {
		.hidden {
			display: none;
		}
	}
	
	@import '../rideau-data/shopping/style.scss';
	
	/* New header, container, footer */
	header.rideau {
		background: rgba(255, 255, 255, 0.55);
		height: 135px;
		left: 0;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 999;
		
		h5 {
			color: $header_h_c;
		}
		
		@import '../rideau-data/header/style.scss';
	
	}
	
	section.rideau {
		margin: 0 auto;
		overflow: none;
		padding: 170px 0;
		width: 100%;
		
		
		&.landing-fix {
			padding-top: 80px;
			padding-bottom: 0px;
			@media screen and (max-width: $tablet) {
				padding-top: 140px;
			}
		}
	}
	
	footer.rideau {
		background: #fff;
		bottom: 0;
		height: 60px;
		left: 0;
		position: fixed;
		width: 100%;
		min-height: 65px;
		padding: 10px;
		
		//This menu was used for tablets and was a bit taller
		/*@media screen and (max-width: $large) {
			height: 105px;
		}*/
		@media screen and (max-width: $tablet) {
			height: 185px;
		}
		
		.icons {
			font-size: 8px;
			margin-top: 15px;
			
			@media screen and (max-width: $large) { /* TODO: Improve this hardcode, we should use the variable $breakpoints, large from _settings.css */
				text-align: center;
			}
			a {
				display: inline-block;
			}
			
			svg {
				width: 20px;
				height: 20px;
				&.replaced-svg:hover path {
					fill: $rideau-gray !important;
				}
			}
		}
		.foot-buttons {
			text-align: center;
			margin-top: 9px;
			letter-spacing: 1px;
			a {
				font-size: 0.48em;
				margin-top: 10px;
			}
			.bordered {
				padding: 7px 14px;
				border: 1px solid black;
			}
		}
	}
	
	/* Zoom images */
	.zoom-container {
		figcaption {
			h1 {
				font-family: $sackers_font;
				font-size: 25px;
			}
			h2 {
				font-family: $akzidenz_font;
				font-size: 14px;
				letter-spacing: 3px;
			}
		}
	}
	.zoomable-image {
		&.opened {
			cursor: url("/rideau-data/zoom-images/close.png"), pointer;
		}
		&.closed {
			cursor: url("/rideau-data/zoom-images/plus.png"), pointer;
		}
	}
	
	/* Landing page */
	body#landing {
		.fluid {
			width: 100%;
		}
		iframe {
			width: 100%;
			height: 600px;
		}
	}
	
	/* Collections */
	body#collections {
		/* Sly lookbook slider */
		.photo-data {
			position: fixed;
			width: 220px;
			bottom: 17%;
			left: 8px;
			text-align: right;
			background: none;
			z-index: 999;
			
			@media screen and (max-width: $large) {
				visibility: hidden;
			}
		}
		
		.stage-description {
			p, h6 {
				font-family: $sackers_font;
				font-size: 0.6em;
				font-weight: bold;
				letter-spacing: 2px;
				margin-bottom: 0.2rem;
				text-shadow: 0 0 1px rgba(255, 255, 255, 1);
			}
			h5 {
				letter-spacing: 1px;
				text-shadow: 0 0 1px rgba(255, 255, 255, 1);
			}
			.look-span {
				font-family: $sackers_font;
				font-weight: normal;
			}
		}
		
		.variable.slider {
		
			.slick-dots {
				bottom: -50px;
			}
		
			div {
				img {
					opacity: 0.05;
				}
				
				&.slick-center {
					img {
						opacity: 1;
					}
				}
				
				img {
					height: 70vh;
					
					@media screen and (max-width: $tablet) {
						height: 50vh;
					}
				}
			}
			
		}

		/* The mail slider DEPRECATED, SAFE TO ERASE */
		#lookbook-slider {
			height: 100%;
			width: 70%;
			margin: 0 auto;
			
			/* The photo carrousel */
			.sly-container-v2.pagespan {
				width: 100%;
				margin: 0 auto;
				height: 100%;
				
				/* Example wrapper */
				.wrap {
					position: relative;
					margin: 3em 0;
					height: 100%;
					
					/* Scrollbar */
					.scrollbar {
						margin: 0 0 1em 0;
						height: 2px;
						background: #ccc;
						line-height: 0;
						.handle {
							width: 100px;
							height: 100%;
							background: #292a33;
							cursor: pointer;
							.mousearea {
								position: absolute;
								top: -9px;
								left: 0;
								width: 100%;
								height: 20px;
							}
						}
					}

					/* One Item Per Frame example*/
					.oneperframe {
						overflow: hidden;
						height: 100%;
						
						ul {
							list-style: none;
							margin: 0;
							padding: 0;
							height: 100%;
							
						
							li {
								float: left;
								padding: 0;
								width: auto;
								height: 100%;
								img {
									display: block;
									margin: auto;
									//border: 1px solid #e5e5e5; //Borders causes a serius bug, do never add border to images on SLY
									height: 100%;
									width: 100%;
								}
							}
						}
					}
				}

				
			}
		}
		
		/* The photo selector on the right */
		#photo-selector {
			position: fixed;
			top: 150px;
			right: 0px;
			width: 130px;
			overflow: hidden;
			
			background: none;
			
			
			@media screen and (max-width: $large) {
				visibility: hidden;
			}
			
			#my-thumbs-list{
				overflow: hidden;
			}
			
			.two-stories  {
				overflow: hidden;
				.single-story {
					float: left;
					position: relative;
					width: 49%;
					height: 65px; /* = width for a 1:1 aspect ratio */
					background-position: center top;
					background-repeat: no-repeat;
					background-size: cover;
					/* you change this to "contain" if you don't want the images to be cropped */
				}
			}
		}
	}
	
	/* TO-DO: Implement a [place]-body id on each EJS */
	/* TO-DO: Move all elements related to #eboutique-body here */
	body#eboutique {
		/* Mixit up configuration */
		#Container {
			text-align: center;
			//margin: 50px 115px; //Disabled as it causes errors with the modal, using padding-top instead
			padding: 60px 30px;
			
			.mix {
				display: none;
				margin: 3%;
				
				.item-data {
					p {
						font-family: $sackers_font;
						font-size: 0.5em;
						&.item-name {
							font-size: 0.45em;
						}
					}
				}
			}
		}

		/* The eboutique left menu */
		#menui {
			position: fixed;
			bottom: 10%;
			background: none;
			white-space: nowrap;
			left: 10px;
			width: 10%;
			
			@media screen and (max-width: $large) {
				bottom: 18%;
				width: 8%;
			}
			@media screen and (max-width: $tablet) {
				bottom: 30%;
			}
			
			a {
				font-size: 0.7em;
				margin-top: 10px;
			}
			p {
				font-family: $sackers_font;
				text-align: right;
				margin-bottom: 0em;
				@media screen and (max-width: $large) {
					text-align: left;
				}
			}
		}
	}
	
	/* Detail page */
	body#detail {
		.oneperframe {
			ul {
				list-style: none;
				li {
					background-position: center center;
					background-size: cover;
					height: 680px;
				}
			}
		}
		
		.imgdetail {
			max-width: 80%;
			height: auto;
			-ms-interpolation-mode: bicubic;
			display: block;
			margin: auto;
			margin-bottom: 30px;
		}
		
		/* Gender containers are found on eboutique and detail pages */
		.gender_containers {
			padding-top: 80px;
		}
		
		.product-showcase {
			position: block;
			text-align: center;
			width: 100%;
			padding: 10px;
			padding-bottom: 210px;
			
			@media screen and (min-width: $tablet) {
				position: fixed;
				top: 25%;
				right: 30px;
				width: 340px;
				text-align: left;
				vertical-align: middle;
			}
			p {
				margin: 2px;
				font-size: 0.7em;
				letter-spacing: 1px;
				line-height: 1.3;
			}	
			.box-container {
				.box {
					margin-bottom: 3px;
					label {
						color: $body_c;
						margin: 0;
					}
				}
			}
			.title {
				font-family: $sackers_font;
				font-size: 0.75rem;
				letter-spacing: 0px;
				font-weight: bold;
				margin-top: 10px;
			}
			.item-name {
				font-family: $sackers_font;
				font-size: 1.0em;
				font-weight: bold;
				letter-spacing: 1px;
				margin-bottom: 0px;
			}
			.item-price {
				font-family: $sackers_font;
				font-size: 0.7rem;
			}
			.item-sku {
				font-family: $sackers_font;
				font-size: 0.7rem;
			}
			/* The color labels */
			.label {
				width: 20px;
				height: 20px;
				border: 1px solid #555;
				border-radius: 2px;
				&.white { background-color: #fff; }
				&.black { background-color: #000; }
				&.blue { background-color: #4343ed; }
				&.green { background-color: #57e09b; }
			}
			.size-chooser {
				p {
					margin: 0px 5px;
					display: inline-block;
					cursor: pointer;
					
					&.selected {
						font-weight: bold;
						font-size: 0.8em;
					}
				}
			}
			a.cart-button {
				margin-top: 10px;
				width: 100%;
				max-width: 200px;
				
				.cart-icon {
					margin-top: -5px;
				}
				p {
					font-family: $sackers_font;
					display: inline-block;
					font-weight: bold;
					font-size: 0.8em;
					color: white;
				}
				&.disabled {
					background-color: #AAA;
				}
			}
			#back-button {
				font-family: $sackers_font;
				letter-spacing: 0px;
				font-size: 0.7rem;
				margin-top: 15px;
			}
		}
	}
	
	/* About */
	body#about {
		//
		p {
			font-size: 0.8em;
			text-align: center;
			letter-spacing: 1.5px;
		}
	}
	
	/* Contact */
	body#contact {
		/* Contact config */
		.contact-info {
			text-align: center;
			padding-bottom: 30px;
			display: block !important;
			
			p {
				font-size: 0.8em;
				margin: 0;
				letter-spacing: 1.5px;
			}
			h5 {
				font-size: 12px;
				letter-spacing: 1px;
							
				&.bold {
					font-size: 0.9em;
					font-weight: bold;
					font-weight: bold;
				}
			}
		}
	}
	
	/* Press */
	body#press {
		text-align: center;
		
		.press-item {
			margin-top: 50px;
			
			p {
				font-size: 0.8em;
				letter-spacing: 1.5px;
			}
			
			.press-image {
				width: 180px;
				height: 50px;
				margin: 0 auto;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
			}
			
			img {
				max-width: 150px;
			}
		}
		
	}
	
	/* Sizing */
	body#sizing {
		.sizing-table {
			font-family: $sackers_font;
			width: 100%;
			border: none;
			
			tr {
				background: none;
				
				td {
					text-align: center;
					font-size: 0.55em;
					padding: 2.3px 0;
					
					&.left-most {
						font-weight: bold;
						text-align: left;
					}
				}
			}
		}
	}
	
	/* Stockist */
	body#stockists {
		
		.right-box {
			p {
				font-family: $sackers_font;
				font-size: 0.5em;
			}
			
		}
	
	}
	
	/* Themes (generical pages like stockist and sizing, try to stick as much as possible to these themes) */
	.seven-style-theme {
		height: 100%;
		
		h1, h2, h3, h4, h5, h6, p {
			font-family: $sackers_font;
			font-size: 0.7em;
			letter-spacing: 0px;
		}
		
		p {
			font-family: $akzidenz_font;
			line-height: 1.2;
			margin-bottom: 0.7em;
			font-size: 0.8em;
		}
	
		.left-box {
			.title {
				font-weight: bold;
				font-size: 1.1em;
				letter-spacing: 1px;
				text-align: right;
				margin-right: 33px;
			}
		}
		.right-box {
			margin-bottom: 80px;
			
			.title {
				margin-bottom: 16px;
				font-weight: bold;
				letter-spacing: 1px;
			}
			.box-item {
				margin-bottom: 40px;
			
				.phone {
					margin-top: 30px;
					font-size: 0.65em;
				}
				
				.box-title {
					font-weight: bold;
					font-size: 0.65em;
					margin-bottom: 13px;
				}
			}
		}
	}
	
	/* Modals */
	
	/* Info modal */
	#collectionsModal {
		a {
			p {
				font-size: 0.9em;
			}
		}
	}
	
	#eboutiqueModal {
		a {
			display: inline-block; //For the special XX | XY separator
			p {
				font-size: 0.9em;
			}
		}
		
		.separator-dash {
			font-size: 0.8em;
			margin-right: 5px;
		}
	}
	
	#informationModal {
		p {
			font-family: $akzidenz_font;
			color: white;
			font-size: 11px;
			letter-spacing: 1px;
			line-height: 1.3;
		}
		h5 {
			color: white;
			font-size: 0.9em;
		}
	}
	
	#cartModal {
		.cart-items {
			.item {
				margin-bottom: 5px;
				
				.item-image {
					width: 80px;
				}
				
				table.up-down-controls {
					background-color: transparent;
					border: none;
				
					tr {
						td {
							padding: 0px;
							
							input {
								padding: 0px;
								margin: 0 auto;
								height: 20px;
								
								&.item-quantity {
									width: 50px;
									text-align: center;
									
									&[readonly] {
										background-color: white;
									}
								}
								&.btn-qty {
									width: 20px;
									margin-top: 0px;
								}
							}
						}
					}
				}
				
				table {
					background: none;
					
					
				}
				
				.item-buy-data {
					text-align: left;
					
					h5 {
						text-align: left;
						color: white;
						font-size: 0.8em;
						font-weight: bold;
					}
					p {
						text-align: left;
						font-size: 0.6em;
					}
				}
			}
		}
	}
	
	#reviewModal {
		label {
			font-size: 0.8em;
		}
		
		.purchase-process {
			list-style: none;
		}
		
		&.modal-with-accordion {
			.modal_title {
				text-align:center;
				color: white;
			}
			.accordion {
				.accordion-navigation {
					label {
						font-size: 0.8em;
						font-weight: normal;
					}
					input {
						font-family: $akzidenz_font;
						height: 25px;
						padding: 0 5px;
						border: 1px solid #d7d7d7;
						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset;
						box-sizing: border-box;
						font-size: 1.2em;
						background-color: #a9a9a9;
						color: white;
						transition: all 0.3s ease 0s;
						
						&[type=checkbox] {
							& + label:before {
								content: "\2715";
								border-radius: 0.125rem;
								font-size: 13px;
							}
						}
					}
					
					&.active > a, dd.active > a {
						background: none;
						font-weight: bold;
						color: $accordeon_t_c;
					}
					a {
						background: none;
						color: white;
						&.accordion-title {
							text-align: left;
							font-size: 0.9em;
							font-weight: bold;
							letter-spacing: 1px;
						}
						&.button {
							background: black;
						}
					}
					.vertical-align, #checkboxship {
						height: initial;
						margin-top: 15px;
					}
					> .content.active, dd > .content.active {
						background: none;
						color: white;
					}
				}
			}
		}
	}
	
	.animated-rideau-modal {
		font-family: $sackers_font;
		background-color: rgba(0, 0, 0, 0.75);
		color: white;
		text-align: center;
		
		a.button {
			p {
				font-size: 0.8em;
				margin: 0px;
			}
		}
		
		p {
			font-family: $sackers_font;
			margin-bottom: 10px;
			font-size: 0.8em;
			letter-spacing: 2.5px;
			color: white;
		}
		
		a {
			&.disabled {
				cursor: default;
				pointer-events: none;
				
				p {
					color: gray;
				}
			}
		}
		
		.closeContainer {
			/*position: fixed;
			left: 50%;
			bottom: 5%;
			transform: translateX(-50%);*/
			
			margin-top: -50px;
		}
	}
	
	@import 'sweetalert2';
	
}

@import 'rideau-drafts'; //Old CSS rules, do not erase unless necesary