//This code is used in the application but is unmaintainable, abide with the coding standards and then move the content to a maintainable file.

//Owner: Renato
.seven-style-theme {
	@media only screen and (max-width: 640px) and (min-width: 540px) {  
		.title{
			font-size: 10px!important;
			padding: 15px;
			padding-top: 40px;
		}
		
		.icn_left{
			font-size: 20px;
			position: absolute;
			right: 7em;
			top: 95px;
		}
		.icn_rigth{
			font-size: 20px;
			position: absolute;
			right: 3em;
			top: 95px;
		}
	}

	@media only screen and (max-width: 540px) and (min-width: 440px) {  
		
		
		.title{
			font-size: 10px!important;
			padding: 15px;
			padding-top: 40px;
		}
		
		.icn_left{
			font-size: 20px;
			position: absolute;
			right: 5.5em;
			top: 95px;
		}
		.icn_rigth{
			font-size: 20px;
			position: absolute;
			right: 2em;
			top: 95px;
		}
	}


	//Owner: Renato
	@media only screen and (max-width: 440px) and (min-width: 300px) {  
		.title{
			font-size: 10px!important;
			padding: 15px;
			padding-top: 40px;
		}
		
		.icn_left{
			font-size: 20px;
			position: absolute;
			right: 5.2em;
			top: 95px;
		}
		.icn_rigth{
			font-size: 20px;
			position: absolute;
			right: 1.3em;
			top: 95px;
		}
	}
}

/* Old style activate if needed */
/*body, p {
  font-size: 0.9em;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: AkzidenzGrotesk-Light, AkzidenzGrLt, Akzidenz Gr Lt Regular, sans-serif;
  letter-spacing: 2px;
  color: $body_c;
}*/

/* Dreaded blue box */
:focus {
	outline: none;
}

/* Letter spacing overrides */
.lts-0 { letter-spacing: 0px; }
.lts-1 { letter-spacing: 1px; }
.lts-2 { letter-spacing: 2px; }
.lts-3 { letter-spacing: 3px; }
.lts-4 { letter-spacing: 4px; }

::-webkit-input-placeholder { color: $placeholder_color; }
:-moz-placeholder { /* Firefox 18- */ color: $placeholder_color; }
::-moz-placeholder { /* Firefox 19+ */ color: $placeholder_color; }
:-ms-input-placeholder { color: $placeholder_color; }

/* Global config */
textarea {
  height: 25px;
  font-size: 10px;
  color: $input_c;
  background-color: $input_b_c;
  &:focus {
	height: 25px;
	font-size: 10px;
	color: $input_c;
	background-color: $input_f_b;
  }
}

label {
  text-align: left;
  color: $label_c;
}

a {
	color: $link_c;
	
	&:hover {
		color: $link_h_c;
	}
	&:focus {
		outline: thin dotted rgba(0, 0, 0, 0.3);
		color: $link_f_c;
	}
	&.disabled {
		color: $link_dis_c;
		cursor: default;
	}
}

input {
   &[type=checkbox], &[type=radio] {
	  opacity: 0;
	  position: absolute;

	  &:checked + label:before {
		 background: white;
		 color: $input_checked_c;
	  }

	  & + label:before {
		 display: inline-block;
		 text-align: center;
		 line-height: 1;

		 border: 0.0625rem solid white;
		 width: 16px;
		 height: 15px;
		 margin-right: 0.2rem;

		 font-size: 0.875rem;
		 color: $input_b_c;
		 background: $input_b_c;
	  }
   }

   &[type=checkbox] {
	  & + label:before {
		 content: "\2715";
		 padding-left: 1px;
		 border-radius: 0.125rem;
	  }
   }

   &[type=radio] {
	  & + label:before {
		 content: "\2713";
		 border-radius: 50%;
	  }
   }
}

.middle-title {
  h6 {
	line-height: 0.4;
	font-size: 9px;
  }
}

/* Header configuration */
#headera {
	position: fixed;
	left: 0%;
	top: 0;
	line-height: 45px;
	height: 150px;
	width: 100%;
	background: white;
	visibility: visible;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 999;

	@media screen and (max-width: $tablet) {
		.rideau-menu-column {
			line-height: 1rem;
		}
	}
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.nodisplay {
	display: none;
}

.header_white {
  text-align: center;
  top: 0%;
  width: 100%;
  z-index: 900;
  position: fixed;
  background-color: white;
  height:84px;
}

/*.header_spacer {
	text-align: center;
	width: 100%;
	z-index: 800;
	height: 75px;
	background-color: white;
}*/

.header-bot-buttons {
  h6 {
	font-size: 0.5rem;
	letter-spacing: 2px;
  }
  img {
	vertical-align: top;
  width: 20px;
  }
}

.header-bot-text h6 {
  font-size: 0.6rem;
  letter-spacing: 4px;
}

.inner {
  visibility: hidden;
}

.item-data {
  margin-top: 10px;
  letter-spacing: 4px;
  p {
	line-height: 2;
	margin-bottom: 0px;
	font-size: 0.6rem;
  }
}

#debug-panel {
  position: fixed;
  bottom: 0%;
  right: 0%;
  p {
	font-size: 0.6em;
	margin-bottom: 0px;
	a {
	  color: #bbb;
	}
  }
}

/* Vertical align */
.valign-middle {
	display: table;
	height: 100%;
	width: 100%;
	.columns {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
	[class*="column"] + [class*="column"]:last-child {
		float: none;
	}
}

#headerpanel {
	text-align: center;
	position: relative;
	display: table;
	width: 100%;
	.row, .columns {
		display: table;
	}
	.spanMiddle {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

.fullpage-height {
	height: 90vh; /* TODO: Fix this, we should be able to use 100vh and see only 1 screen height */
	min-height: 640px;
}

/* Loading gif */

#loading {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  display: table;
  opacity: 1;
  background-color: $loader_b_c;
  z-index: 1999;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 100;
}

/* Lookbook config */
.rideau-thumb {
  width: 70px;
}

.lookbook-main-img {
	/*max-height: 80%;*/
}

#gallery_01 img {
  border: 2px solid white;
}

#gal1 {
  text-align: right;
}

#uploadarticle-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

#my-thumbs-list {
  overflow: auto;
  width: 100%;
  height: 500px;
}

.active img {
  border: 2px solid #eee;
}

/* Uploadarticle config */
#uploadForm label {
	color: #000000;
}

.login-box {
  text-align: center;
}

.button {
  font-family: AkzidenzGrotesk-Light, AkzidenzGrLt, Akzidenz Gr Lt Regular, sans-serif;
  letter-spacing: 3px;
  font-size: 13px;

  background-color: $button_b_c;
  width: 50%;
  &:hover, &:active {
	background: $button_f_b;
	color: $button_f_c;
  }
  &:focus {
	background: $button_f_b;
	color: $button_f_c;
  }
  
  /* Disabled */
  /*&.btn-qty {
	padding: 0.1rem 0.8rem 0.1rem 0.5rem;
	background-color: $button_b_c;
  }*/
  
}

/* Modal config */
.reveal-modal-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
}
  
/* IMPORTANT: This modal is deprecated please see version-2 */
/*.rideau-modal {
	background: rgba(0, 0, 0, 0.75);
	border: none;
	overflow-y: auto;
	box-shadow: none;
  
	.stored-products {
		height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 30px;
		
		.item-buy-data {
			text-align: left;
			padding-top: 10px;
			p {
				margin-bottom: 0.5rem;
			}
		}
				
		table.up-down-controls {
			background-color: transparent;
			border: none;
		
			tr {
				td {
					padding: 0px;
					input {
						padding: 0px;
						margin: 0 auto;
						height: 20px;
						&.item-quantity {
							width: 50px;
							text-align: center;
						}
						&.btn-qty {
							width: 20px;
							margin-top: 0px;
						}
					}
				}
			}
		}
	}

	p {
		color: white;
		a {
			color: $modal_link_c;
			&.disabled {
				color: $link_dis_c;
			}
		}
	}
	h2, h5 {
		color: white;
	}
}*/

/* IMPORTANT: This modal is deprecated please see version-2 */
.close-reveal-modal {

  color: #ffffff;
  top: 99%;
  right: 49%;
  width: 100%;
  margin-top: 100px;
  text-align: center;

  .close{
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	overflow: hidden;
	&:hover {
	  &::before, &::after {
		background: #ffffff;
	  }
	}
	&::before, &::after {
	  content: '';
	  position: absolute;
	  height: 2px;
	  width: 100%;
	  top: 50%;
	  left: 0;
	  margin-top: -1px;
	  background: #000;
	}
	&::before {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
	&::after {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}
	&.thick {
	  &::before, &::after {
		background-color: $button_c;
		height: 4px;
		margin-top: -2px;
	  }
	}
  }
}

.rideau-modal.version-2 {
	background: rgba(0, 0, 0, 0.75);
	color: white;
	border: none;
	overflow-y: hidden;
	top: 0;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	box-shadow: none;

	/* IMPORTANT: Doesn't seem to be used, change stored-products to a rideau-modal version 2 */
	.stored-products {
		height: 400px;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 30px;
				
		table.up-down-controls {
			tr {
				td {
					padding: 0px;
				}
			}
		}
	}

	.center-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	p {
		color: white;
	}
	h2, h5 {
		color: white;
	}
	.close-reveal-modal.version-2 {
		transform: translate(-50%,0px);
		right: none;
		left: none;
		top: auto;
		bottom: 0;
		color: #ffffff;
		text-align: center;
		width: 100%;
		color: #aaaaaa;
		cursor: pointer;
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 1;
		position: absolute;
		text-align: center;
		width: 100%;
		.close {
			position: relative;
			display: inline-block;
			width: 30px;
			height: 30px;
			overflow: hidden;
			&:hover {
				&::before, &::after {
					background: #ffffff;
				}
			}
			&::before, &::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background: #000;
			}
			&::before {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&::after {
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
			&.thick {
				&::before, &::after {
					background-color: $button_c;
					height: 4px;
					margin-top: -2px;
				}
			}
		}
	}
}

body.modal-open {
  overflow: hidden;
}

.reveal-modal {
	border: none;
	input {
		font-size: 1em;
		color: $input_c;
		background-color: $input_b_c;
		&[type="text"], &[type="password"], &[type="date"], &[type="datetime"], &[type="datetime-local"], &[type="month"], &[type="week"], &[type="email"], &[type="number"], &[type="search"], &[type="tel"], &[type="time"], &[type="url"], &[type="color"] {
			font-size: 15px;
			color: $input_c;
			&:focus {
				color: $input_c;
				background-color: $input_f_b;
			}
		}
		&.btn-qty {
			background-color: black;
		}
	}
	.close-reveal-modal {
		@include centerer(true,false);
		position: initial;
	}
	section > div:last-child {
		//@include centerer(true,false);
		position: initial;
	}
	>:last-child {
		margin-bottom: 0;
		text-align: center;
	}
}

/* Shopping cart */
/*#purchase-modal, #carr-modal {
	height: 80%;
	.modal_title {
		text-align:center;
		color: white;
	}
	.accordion {
		.accordion-navigation {
			&.active > a, dd.active > a {
				background: none;
				font-weight: bold;
				color: $accordeon_t_c;
			}
			a {
				font-size: 0.9rem;
				background: none;
				color: white;
				&:active, &:focus {
					background: none;
					font-weight: bold;
				}
				&:hover, &:focus {
					color: $accordeon_t_c;
				}
				&:hover {
					background: none;
				}
			}
			.columns {
				position: relative;
			}
			.vertical-align, #checkboxship {
				height: initial;
				margin-top: 25px;
			}
			> .content.active, dd > .content.active {
				background: none;
				color: white;
			}
		}
	}
}*/

.content.active > label {
  background: none;
  color: $label_c;
}

.lists {
  p, label {
	color: $label_c;
  }
}

/* Checkout forms */
.vertical-align {
  @include centerer(false, true);
}

.checkboxterms {
  margin: 18px 0 !important;
  label {
	font-size: 0.7em !important;
  }
}

.button.rideau-button {
	height: 39px;
	min-width: 215px;
	a {
		/**/
	}
	p {
		margin-top: 0px;
		font-size: 0.7rem;
	}
}

.sly-container {
	margin: 0 auto;
	height: 100%;
	width: 100%;
	
	/* Example wrapper */
	.wrap {
		position: relative;
		margin: 3em 0;
		height: 100%;
	}

	/* Frame */
	.frame {
		height: 250px;
		line-height: 250px;
		overflow: hidden;
		height: 100%;
	}
	.frame ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;
		font-size: 50px;
	}
	.frame ul li {
		float: left;
		width: 227px;
		height: 100%;
		margin: 0 1px 0 0;
		padding: 0;
		color: #ddd;
		text-align: center;
		cursor: pointer;
	}

	/* Scrollbar */
	.scrollbar {
		margin-top: 10px;
		height: 2px;
		background: #f7f7f7;
		line-height: 0;
	}
	.scrollbar .handle {
		width: 100px;
		height: 100%;
		background: #ccc;
		cursor: pointer;
	}
	.scrollbar .handle .mousearea {
		position: absolute;
		top: -9px;
		left: 0;
		width: 100%;
		height: 20px;
	}

	/* One Item Per Frame example */
	.oneperframe {
		height: 100%;
		line-height: 300px;
		
		ul li {
			background-size: contain; /* Cover is also a good idea */
			background-repeat: no-repeat;
			background-position: center;
			height: 800px;
			min-width: 320px;
			
			
			opacity: 0.05;
			
			&.active {
				opacity: 1.0;
			}
			
			//No longer used
			img {
				height: 90vh; //70 + 30 of the header/footer
				opacity: 0.05;
			}
			//No longer used
			 &.active {
				img {
					opacity: 1.0;
					
				}
			}
		}
	}
}