<footer class="rideau sackers">
	<div class="row">
		
		<div class="show-for-medium-up">
			<div class="small-12 medium-5 large-5 columns">
				<div class="row">
					<% include _social-icons.ejs %>
				</div>
			</div>
		
			<div class="small-12 medium-7 large-7 columns">
				<div class="row">
					<div class="foot-buttons">
						<div class="small-12 medium-4 large-2 columns">
							<a href="/sizing">sizing</a>
						</div>
						<div class="small-12 medium-4 large-2 columns">
							<a href="/stockist">stockist</a>
						</div>
						<div class="small-12 medium-4 large-2 columns">
							<a href="#" data-reveal-id="info-modal">information</a>
						</div>
						<div class="small-12 medium-12 large-4 columns">
							<a class="wholesaler-access">wholesaler access</a>
						</div>
						<div class="small-12 medium-12 large-2 columns">
							<a class="subscribe bordered">subscribe</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="show-for-small-only">
			<div class="small-12 large-7 columns">
				<div class="row">
					<div class="foot-buttons">
						<div class="small-12 large-2 columns">
							<a class="subscribe bordered">subscribe</a>
						</div>
						<div class="small-12 large-4 columns">
							<a href="/press">wholesaler access</a>
						</div>
						<div class="small-12 large-2 columns">
							<a href="/press">information</a>
						</div>
						<div class="small-12 large-2 columns">
							<a href="/stockist">stockist</a>
						</div>
						<div class="small-12 large-2 columns">
							<a href="/sizing">sizing</a>
						</div>
					</div>
				</div>
			</div>
			<div class="small-12 large-5 columns">
				<div class="row">
					<% include _social-icons.ejs %>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- Info modal -->
<div id="info-modal" class="reveal-modal rideau-modal" data-reveal aria-hidden="true" role="dialog">
	<div class="row">
		<div class="small-2 large-12 columns">
			<div class="row">
				<div class="small-12 large-12 columns">
					<p>Due to the intimate nature of our sourcing not every item is the same and each has its own special characteristics, yet the craftmanship and quality of each garment stands consistent. All of our ready-to-wear garments are made to order in our new york city studio, we ask that you allow 7 bussiness days for the manufacture of your item(s).</p>
				</div>
			</div>
			<div class="row">
				<div class="small-4 large-4 columns">
					<h5><strong>ORDERS</strong></h5>
					<p>All orders will recieve e-mail confirmation. All orders will recieve and additional e-mail upon the start of production. Please note that the products displayed on the site may be out-of-stock or discontinued, and availability is not guaranteed. Please note that while we have tried to accurately display the colors of products, the actual colors you see will depend on your monitor and may not be accurate.</p>
					<p>We do not except returns, exchanges, or refunds on our items unless is defective. If the item recieved is damaged, we ask that you contact us with complete details of the defect with in depth pictures within 7 bussiness days from the date of delivery. We will then determine if the item is elegible for exchange or refund within 48 bussiness hours, the item must be unworn with all its original tags. We are not responsible for return shipping costs or duty fees. Once an order is placed and processed, no changes can be made to that order</p>
				</div>
				<div class="small-4 large-4 columns">
					<h5><strong>SHIPPING</strong></h5>
					<p>You are responsible for the shipping costs associated with the delivery of the products you purchase on the site as specified on your order confirmation</p>
					<p>The risk of loss and title for items purchased by you pass to you upon delivery of the items</p>
					<p>By placing an international order, you agree to pay any applicable customs, duties, or taxes levied by your destination country, unfortunately we are unable to calculate these charges prior to your order being placed, and cannot be held responsible for them.</p>
					<p>Any customs or import duties are charged once the parcel reaches its destination country.these changes must be paid by the recipient, as we do not take responsibility for these costs and do not offer compensation to cover any of these changes.</p>
				</div>
				<div class="small-4 large-4 columns">
					<div class="row">
						<h5><strong>PRIVACY</strong></h5>
						<p>RIDEAU holds its customers private information with the highest regards of confidentiality and does not give access of this information to any outside parties. All order information collected is for the sole purpose of shopping with RIDEAU.</p>
					</div>
					<div class="row">
						<h5><strong>COUNTRY OF MANUFACTURE</strong></h5>
						<p>All clothes are made in the united states of america with materials sourced domestic and worldwide</p>
					</div>
					<div class="row">
						<h5><strong>FORCE MAJEURE</strong></h5>
						<p>Provider shall not be liable for any delay or failure in performance caused by circumstances beyond its reasonable control.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<a class="close-reveal-modal"><span class="close thick"></span></a>
	</div>
</div>

<!-- Login modal -->
<div id="login-modal" class="reveal-modal rideau-modal small" data-reveal aria-hidden="true" role="dialog">
	<section id="headerpanelf">
		<div class="row">
			<div class="large-12 columns">
				<div class="login-box">
						<div class="row">
							<div class="large-12 columns">
								<label>Username</label>
								<input type="text" name="username" placeholder="Username" />
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<label>Password</label>
								<input type="password" name="password" placeholder="Password" />
							</div>
						</div>
						<div class="row">
							<div class="large-12 large-text-right columns">
								<input id="login-submit" type="submit" class="button " value="Log In" />
							</div>
						</div>
				</div>
			</div>
		</div>
		<a class="close-reveal-modal"><span class="close thick"></span></a>
	</section>
</div>

<!-- Post Login modal -->
<div id="loggedin-modal" class="reveal-modal rideau-modal small" data-reveal aria-hidden="true" role="dialog">
		<div class="row">
			<div class="large-12 columns">
				<h2>Thank you!</h2>
				<br/>
				<p>You are logged now.</p>
				<br/>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns text-center">
				<a class="close-reveal-modal"><span class="close thick"></span></a>
			</div>
		</div>
</div>

<!-- Post Login modal -->
<div id="loggederror-modal" class="reveal-modal rideau-modal small" data-reveal aria-hidden="true" role="dialog">
		<div class="row">
			<div class="large-12 columns">
				<h2>Login error!</h2>
				<br/>
				<p>Try again please.</p>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns text-center">
				<a class="close-reveal-modal" data-reveal-id="login-modal"><span class="close thick"></span></a>
			</div>
		</div>
</div>

<!-- Subscription modal -->
<div id="subscription-modal" class="reveal-modal small foot-modal rideau-modal" data-reveal  aria-hidden="true" role="dialog">
	<section id="headerpanelf">
		<div class="row">
			<div class="large-12 columns">
				<div class="login-box">
					<form action="/subscription_add" method="post">
						<div class="row">
							<div class="large-12 columns">
								<h2>Sign up for our newsletter</h2>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<label>Email</label>
								<input type="text" name="subscription-email" placeholder="Email address" />
							</div>
						</div>
						<div class="row">
							<div class="large-12 large-text-right columns">
								<input type="submit" class="button " value="Continue" data-reveal-id="post-subscription-modal" />
							</div>
						</div>
					</form>
				</div>
			</div>
			
		</div>
		<div class="row">
			<div class="large-12 columns text-center">
				<a class="close-reveal-modal"><span class="close thick"></span></a>
			</div>
		</div>
	</section>
</div>

<!-- Post Subscruption modal -->
<div id="post-subscription-modal" class="reveal-modal rideau-modal small" data-reveal aria-hidden="true" role="dialog">
	<div class="row">
		<div class="large-12 columns">
			<h2>Thanks for subscribing</h2>
			<p class="subscription-response">Thank you for joining our mailing list.</p>
			<p>You'll be sent the next issue of our newsletter shortly.</p>
			<br />
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<a class="close-reveal-modal"><span class="close thick"></span></a>
		</div>
	</div>
</div>

<script>
	$(function() {
	
		//Init animated modals
		$('.amodal').each(function() {
			$(this).animatedModal({ modalTarget: $(this).attr('href').substr(1) });
		});
	
		
		//Show SVG's
		jQuery('img.svg').each(function() {
			var $img = jQuery(this);
			var imgID = $img.attr('id');
			var imgClass = $img.attr('class');
			var imgURL = $img.attr('src');
		
			jQuery.get(imgURL, function(data) {
				// Get the SVG tag, ignore the rest
				var $svg = jQuery(data).find('svg');
		
				// Add replaced image's ID to the new SVG
				if(typeof imgID !== 'undefined') {
					$svg = $svg.attr('id', imgID);
				}
				// Add replaced image's classes to the new SVG
				if(typeof imgClass !== 'undefined') {
					$svg = $svg.attr('class', imgClass+' replaced-svg');
				}
		
				// Remove any invalid XML tags as per http://validator.w3.org
				$svg = $svg.removeAttr('xmlns:a');
				
				// Check if the viewport is set, else we gonna set it if we can.
				if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
					$svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
				}
		
				// Replace image with new SVG
				$img.replaceWith($svg);
			}, 'xml');
		
		});
		
		$("input#login-submit").click(function() {
			var username = $("input[name='username']").val();
			var password = $("input[name='password']").val();
			$.post('/login', { username:username, password:password }, function(data) {
				if(data) {
					// or directly on the modala
					if (data.status == "error") {
						$('#loggederror-modal').foundation('reveal', 'open');
					} else {
						$('#loggedin-modal').foundation('reveal', 'open');
						setTimeout(function() {
							location.reload();
						}, 3000);
					}
					$('#login-modal').foundation('reveal', 'close');
				}
			});
		});
		
		$("a.subscribe").click(function() {
			//TODO: Change this to the second type of modal (wholesaler-access)
			
			swal({
				title: 'sign up for our newsletter',
				width: 600,
				padding: 80,
				input: 'email',
				confirmButtonText: 'continue',
				cancelButtonText: '',
				showCancelButton: true,
				showLoaderOnConfirm: true,
				preConfirm: function(email) {
					return new Promise(function(resolve, reject) {
						setTimeout(function() {
						if (email === 'taken@example.com') {
							reject('This email is already taken.');
						} else {
							resolve();
						}
						}, 1000);
					});
				}
			}).then(function(email) {
				swal({
					title: 'You are now subscribed',
					background: "#000",
					showCancelButton: false
				});
			});
		});
		
		$("a.wholesaler-access").click(function() {
			//For this alert we are using a different process since SweetAlerts has no username & password dialog type
			swal({
				title: 'wholesaler access',
				width: 600,
				padding: 80,
				confirmButtonText: 'continue',
				showCancelButton: true,
				html: "<p class='text-left'>user name</p><input class='swal2-input wholesaler-access user' type='text'><p class='text-left'>password</p><input class='swal2-input wholesaler-access pass' type='password'>"
			}).then(function() {
				var user = $('.wholesaler-access.user').val(),
					pass = $('.wholesaler-access.pass').val();
					
				swal({
					title: 'Logged in ' + JSON.stringify(user) + ' - ' + JSON.stringify(pass),
					showCancelButton: false
				});
			});
		});
	});
</script>