<!-- Rideau footer -->
<footer class="akzidenz">
	<div class="row wide-90">
		<div class="small-12 large-5 columns">
			<div class="row">
				<div class="icons">
					<a href="https://www.instagram.com/rideaudesign/" target="_blank">
						<img class="svg instagram" src="/rideau-data/social-networks/instagram.svg" alt="Instagram" />
					</a>
					<a href="http://rideaudesign.tumblr.com/" target="_blank">
						<img class="svg tumblr" src="/rideau-data/social-networks/tumblr.svg" alt="Tumblr" />
					</a>
					<a href="https://twitter.com/rideau_us" target="_blank">
						<img class="svg twitter" src="/rideau-data/social-networks/twitter.svg" alt="Twitter" />
					</a>
					<a href="https://vimeo.com/rideaudesign" target="_blank">
						<img class="svg vimeo" src="/rideau-data/social-networks/vimeo.svg" alt="Vimeo" />
					</a>
				</div>
			</div>
		</div>
		<div class="small-12 large-2 columns">
			<div class="row">
				<div class="central-butons">
					<div class="small-12 large-6 columns">
						<a href="/about">ABOUT</a>
					</div>
					<div class="small-12 large-6 columns">
						<a href="/press">PRESS</a>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 large-5 columns">
			<div class="row">
				<div class="small-12 large-10 large-offset-2 columns">
					<div class="right-butons">
						<div class="small-12 large-6 columns">
							<a href="#" data-reveal-id="info-modal">information</a>
						</div>
						<div class="small-12 large-6 columns">
							<a href="/contact">contact</a>
						</div>
						<div class="small-12 large-6 columns">
							<a href="#" data-reveal-id="login-modal">wholesaler access</a>
						</div>
						<div class="small-12 large-6 columns">
							<a href="#" data-reveal-id="subscription-modal">subscribe</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script>
	$(function(){
		jQuery('img.svg').each(function(){
			var $img = jQuery(this);
			var imgID = $img.attr('id');
			var imgClass = $img.attr('class');
			var imgURL = $img.attr('src');
		
			jQuery.get(imgURL, function(data) {
				// Get the SVG tag, ignore the rest
				var $svg = jQuery(data).find('svg');
		
				// Add replaced image's ID to the new SVG
				if(typeof imgID !== 'undefined') {
					$svg = $svg.attr('id', imgID);
				}
				// Add replaced image's classes to the new SVG
				if(typeof imgClass !== 'undefined') {
					$svg = $svg.attr('class', imgClass+' replaced-svg');
				}
		
				// Remove any invalid XML tags as per http://validator.w3.org
				$svg = $svg.removeAttr('xmlns:a');
				
				// Check if the viewport is set, else we gonna set it if we can.
				if(!$svg.attr('viewBox') && $svg.attr('height') && $svg.attr('width')) {
					$svg.attr('viewBox', '0 0 ' + $svg.attr('height') + ' ' + $svg.attr('width'))
				}
		
				// Replace image with new SVG
				$img.replaceWith($svg);
		
			}, 'xml');
		
		});
	});
</script>