<header class="rideau sackers">
	<div class="row">
		<div class="text-center">
			<div class="middle-title">
				<!-- Show logo in this position in mobiles -->
				<div class="show-for-small-only">
					<div class="small-12 medium-8 large-8 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
								<a href="/">
									<img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
								</a>
								<div class="apc-container text-center">
									<a href="/about">about</a>
									<a href="/press">press</a>
									<a href="/contact">contact</a>
								</div>
							</div>
							
							<div class="small-4 columns">
								<div class="header-text-container">
									<div class="row">
										<div class="small-12 medium-12 large-12 rideau-menu-column columns">
											<a class="amodal header-top-text" href="#collectionsModal">collections</a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="small-4 columns">
								<% include _cart-button.ejs %>
							</div>
							
							<div class="small-4 columns">
								<div class="header-text-container">
									<div class="row">
										<div class="small-12 medium-12 large-12 rideau-menu-column columns">
											<a class="amodal header-top-text" href="#eboutiqueModal">e-boutique</a>
										</div>
									</div>
								</div>
							</div>
								
							
						</div>
					</div>
				</div>
				
				<div class="hide-for-small-only">
					<div class="small-6 medium-3 large-3 columns">
						<div class="header-text-container">
							<div class="row">
								<div class="small-12 medium-12 large-12 rideau-menu-column columns">
									<a class="amodal header-top-text" href="#collectionsModal">collections</a>
								</div>
							</div>
						</div>
					</div>
					<div class="small-12 medium-6 large-6 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
								<a href="/">
									<img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
								</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<div class="apc-container text-center">
									<a href="/about">about</a>
									<a href="/press">press</a>
									<a href="/contact">contact</a>
								</div>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<% include _cart-button.ejs %>
							</div>
						</div>
					</div>
					<div class="small-6 medium-3 large-3 columns">
						<div class="header-text-container">
							<div class="row">
								<div class="small-12 medium-12 small-12 rideau-menu-column columns">
									<a class="amodal header-top-text" href="#eboutiqueModal">e-boutique</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
	</div>
</header>

<div id="collectionsModal" class="animated-rideau-modal" style="visibility: hidden;">
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-collectionsModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>
	<div class="modal-content">
		<div class="auto-adjustable-y">
			<div class="row">
				<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
					<% Object.keys(extraData).forEach(function(key) { %>
						<a class="<%- extraData[key].class %>" href="/collections/<%- key.substr(key.indexOf("-") + 1) %>">
							<p><%- extraData[key].name %></p>
						</a>
					<% }); %>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="eboutiqueModal" class="animated-rideau-modal" style="visibility: hidden;">
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-eboutiqueModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>
	<div class="auto-adjustable-y">
		<div class="row">
			<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
				<a href="/eboutique#male"><span class="male_button"><p>xy</p></span></a>
				<span class="separator-dash"> | </span>
				<a href="#" class="disabled"><span class="female_button"><p>xx</p></span></a>
			</div>
		</div>
	</div>
</div>

<div id="cartModal" class="animated-rideau-modal" style="visibility: hidden;">
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-cartModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>
	<div class="auto-adjustable-y">
		<div class="row">
			<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
				
				
				
				<div class="cart-items">
				
				
				
					cart
				
				
				
				</div>
				
				
				
			</div>
		</div>
	</div>
</div>

<!-- TODO: Add cart here -->
<div class="header_white">
	<img id="r-top-logo" class="hidden" src="/rideau-data/landing/rideau-logo-hidden.svg" />
</div>

<blueprints>
	<div class="row item">
		<div class="small-12 medium-8 large-8 columns">
			<div class="row">
				<div class="small-4 large-4 columns">
					<img src="http://placehold.it/100x100" style="width: 200px;" />
				</div>
				<div class="small-8 large-8 columns">
					<div class="row">
						<div class="small-12 large-12 columns">
							<div class="item-buy-data">
								<h5 class="item-name"><strong>ref</strong></h5>
								<h5 class="item-sku">ref</h5>
								<p>size: <span class="item-size">size</span></p>
								<p>color: <span class="item-color">white</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 large-4 columns">
			<div class="row">
				<div class="small-6 large-6 columns">
					<p>Qnty:</p>
					<table class="up-down-controls" cellSpacing="0" cellPadding="0" width="100%" border="0">
						<tr>
							<td align="">
								<input type="button" value="-" class="tiny button btn-qty right" field="quantity" />
							</td>
							<td align="">
								<input type="text" name="quantity" class="quantity" placeholder="0" value="0" />
							</td>
							<td align="">
								<input type="button" value="+" class="tiny button btn-qty left" field="quantity" />
							</td>
						</tr>
					</table>
				</div>
				<div class="small-6 large-6 columns">
					<p>Unit price:</p>
					<p><span class="item-price">price</span> usd</p>
				</div>
			</div>
		</div>
	</div>
</blueprints>

<script>
	$(function() {
		$('a[href="#cartModal"]').on('click', function() {
			console.log("regenerate cart");
			
			var rideauCart = JSON.parse(localStorage.storedCart);
			console.log(rideauCart);
			
			var blueprintItem = $('blueprints .item');
			
			var cartItems = $('.cart-items');
			cartItems.empty(); //Empty cart
			_.times(rideauCart.length, function(i) {
				var tempItem = blueprintItem.clone();
				tempItem.find('.item-name').html(rideauCart[i].name);
				tempItem.find('.item-sku').html(rideauCart[i].sku);
				tempItem.find('.item-price').html(rideauCart[i].price);
				
				cartItems.append(tempItem);
			});
		});
	});
	
	$(document).mousemove(function(e) {
		var height;
		if (document.body) {
			height = (document.body.clientHeight);
		} else {
			height = (window.innerHeight);
		}
		
		/* console.log(e.pageY - $(window).scrollTop()); */
		if ((e.pageY - $(window).scrollTop()) < 150 /*|| (e.pageY - $(window).scrollTop()) > (height - 60)*/ ) { //The bottom limit is commented, uncomment to enable that functionality
			$('header').removeClass("hidden");
			$('#r-top-logo').addClass("hidden");
			//$('footer').removeClass("hidden"); //No longer used, footer is always visible
		} else {
			$('header').addClass("hidden");
			$('#r-top-logo').removeClass("hidden");
			//$('footer').addClass("hidden"); //No longer used, footer is always visible
		}
	});
</script>