<header class="rideau sackers">
	<div class="row">
		<div class="text-center">
			<div class="middle-title">
				<!-- Show logo in this position in mobiles -->
				<div class="show-for-small-only">
					<div class="small-12 medium-8 large-8 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
								<a href="/">
									<img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
								</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<% include _cart-button.ejs %>
							</div>
						</div>
					</div>
				</div>
				<div class="small-6 medium-3 large-3 columns">
					<div class="header-text-container">
						<div class="row">
							<div class="small-12 medium-12 large-12 rideau-menu-column columns">
								<a href="#" class="header-top-text" data-reveal-id="collections-modal">collections</a>
								<a class="amodal" href="#collectionsModal">collections</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Hide logo in this position in mobiles -->
				<div class="hide-for-small-only">
					<div class="small-12 medium-6 large-6 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
								<a href="/">
									<img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
								</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<div class="apc-container text-center">
									<a href="/about">about</a>
									<a href="/press">press</a>
									<a href="/contact">contact</a>
								</div>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<% include _cart-button.ejs %>
							</div>
						</div>
					</div>
				</div>
				<div class="small-6 medium-3 large-3 columns">
					<div class="header-text-container">
						<div class="row">
							<div class="small-12 medium-12 small-12 rideau-menu-column columns">
								<a href="#" class="header-top-text sackers" data-reveal-id="eboutique-modal">e-boutique</a>
								
								<a class="amodal" href="#eboutiqueModal">e-boutique</a>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>





<div id="collectionsModal">
	<!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="close-collectionsModal"> 
		CLOSE MODAL
	</div>
		
	<div class="modal-content">
			  <!--Your modal content goes here-->
			  ccc
	</div>
</div>

<div id="eboutiqueModal">
	<!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="close-eboutiqueModal"> 
		CLOSE MODAL
	</div>
		
	<div class="modal-content">
			  <!--Your modal content goes here-->
			  eee
	</div>
</div>





<!-- Collections modal class ideau-modal akzidenz -->
<div id="collections-modal" class="reveal-modal rideau-modal version-2 small" data-reveal aria-hidden="true" role="dialog">
	<div class="center-container relative">
		<div class="center-block">
			<div class="row">
				<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
					<div class="spanMiddle">
						<p><a href="/collections/ss15-lookbook">SS15 LOOKBOOK</a></p>
						<p><a href="/collections/aw16-campaign">AW16 CAMPAIGN</a></p>
						<p><a href="#" class="disabled">SS16 LOOKBOOK<br/></a></p>
						<p><a href="#" class="disabled">SS16 CAMPAIGN<br/></a></p>
					</div>
				</div>
			</div>
		</div>
		<a class="close-reveal-modal version-2 absolute"><span class="close thick"></span></a>
	</div>
</div>

<!-- Eboutique modal -->
<div id="eboutique-modal" class="reveal-modal rideau-modal version-2" data-reveal aria-hidden="true" role="dialog">
	<div class="center-container relative">
		<div class="center-block">
			<div class="row">
				<div class="small-6 small-centered columns">
					<div class="spanMiddle">
						<p><a href="/eboutique#male"><span class="male_button">XY</span></a> | <a href="#" class="disabled"><span class="female_button">XX</span></a></p>
					</div>
				</div>
			</div>
		</div>
		<a class="close-reveal-modal version-2 absolute"><span class="close thick"></span></a>
	</div>
</div>

<!-- TODO: Add cart here -->
<div class="header_white">
	<img id="r-top-logo" class="hidden" src="/rideau-data/landing/rideau-logo-hidden.svg" />
</div>

<script>
	$(function() {
		$('.amodal').each(function() {
			$(this).animatedModal( { modalTarget: $(this).attr('href').substr(1) } )
		});
	})
	
	$(document).mousemove(function(e) {
		var height;
		if (document.body) {
			height = (document.body.clientHeight);
		} else {
			height = (window.innerHeight);
		}
		
		/* console.log(e.pageY - $(window).scrollTop()); */
		if ((e.pageY - $(window).scrollTop()) < 150 /*|| (e.pageY - $(window).scrollTop()) > (height - 60)*/ ) { //The bottom limit is commented, uncomment to enable that functionality
			$('header').removeClass("hidden");
			$('#r-top-logo').addClass("hidden");
			//$('footer').removeClass("hidden"); //No longer used, footer is always visible
		} else {
			$('header').addClass("hidden");
			$('#r-top-logo').removeClass("hidden");
			//$('footer').addClass("hidden"); //No longer used, footer is always visible
		}
	});
</script>