<header class="rideau sackers">
	<div class="row">
		<div class="text-center">
			<div class="middle-title">
				<!-- Show logo in this position in mobiles -->
				<div class="show-for-small-only">
					<div class="small-12 medium-8 large-8 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
								<a href="/">
									<img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
								</a>
								<div class="apc-container text-center">
									<a href="/about">about</a>
									<a href="/press">press</a>
									<a href="/contact">contact</a>
								</div>
							</div>
							<div class="small-4 columns">
								<div class="header-text-container">
									<div class="row">
										<div class="small-12 medium-12 large-12 rideau-menu-column columns">
											<a class="amodal header-top-text" href="#collectionsModal">collections</a>
										</div>
									</div>
								</div>
							</div>
							<div class="small-4 columns">
								<% include _cart-button.ejs %>
							</div>
							<div class="small-4 columns">
								<div class="header-text-container">
									<div class="row">
										<div class="small-12 medium-12 large-12 rideau-menu-column columns">
											<a class="amodal header-top-text" href="#eboutiqueModal">e-boutique</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="hide-for-small-only">
					<div class="small-6 medium-3 large-3 columns">
						<div class="header-text-container">
							<div class="row">
								<div class="small-12 medium-12 large-12 rideau-menu-column columns">
									<a class="amodal header-top-text" href="#collectionsModal">collections</a>
								</div>
							</div>
						</div>
					</div>
					<div class="small-12 medium-6 large-6 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
								<a href="/">
									<img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
								</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<div class="apc-container text-center">
									<a href="/about">about</a>
									<a href="/press">press</a>
									<a href="/contact">contact</a>
								</div>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<% include _cart-button.ejs %>
							</div>
						</div>
					</div>
					<div class="small-6 medium-3 large-3 columns">
						<div class="header-text-container">
							<div class="row">
								<div class="small-12 medium-12 small-12 rideau-menu-column columns">
									<a class="amodal header-top-text" href="#eboutiqueModal">e-boutique</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Collections modal -->
<div id="collectionsModal" class="animated-rideau-modal" style="visibility: hidden;">
	<div class="auto-adjustable-y">
		<div class="row">
			<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
				<% Object.keys(extraData).forEach(function(key) { %>
					<a class="<%- extraData[key].class %>" href="/collections/<%- key.substr(key.indexOf("-") + 1) %>">
						<p><%- extraData[key].name %></p>
					</a>
				<% }); %>
			</div>
		</div>
	</div>
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-collectionsModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>
</div>

<!-- Eboutique modal -->
<div id="eboutiqueModal" class="animated-rideau-modal" style="visibility: hidden;">
	<div class="auto-adjustable-y">
		<div class="row">
			<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
				<a href="/eboutique#male"><span class="male_button"><p>xy</p></span></a>
				<span class="separator-dash"> | </span>
				<a href="#" class="disabled"><span class="female_button"><p>xx</p></span></a>
			</div>
		</div>
	</div>
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-eboutiqueModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>
</div>

<!-- Cart modal -->
<div id="cartModal" class="animated-rideau-modal" style="visibility: hidden;">
	<div class="auto-adjustable-y">
		<div class="row">
			<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
				<div class="cart-items">your cart is empty</div>
			</div>
		</div>
		<div class="row">
			<div class="margin-top-50">
				<div class="small-12 medium-6 large-6 columns">
					<a class="back-to-shopping-button tiny button">
						<p><strong>back to shopping</strong></p>
					</a>
				</div>
				<div class="small-12 medium-6 large-6 columns">
					<a class="proceed-to-purchase-button tiny button">
						<p><strong>proceed to purchase</strong></p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-cartModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>
	<!-- The hidden review modal opener, triggered by jQuery unless we really want a visible button -->
	<a class="amodal nodisplay" href="#reviewModal">review</a>
</div>

<!-- Review modal -->
<div id="reviewModal" class="animated-rideau-modal modal-with-accordion" style="visibility: hidden;">
	<div class="auto-adjustable-y">
		<div class="row">
			<!-- <h4 class="modal_title"><strong>Checkout</strong></h4> -->
			<ul class="accordion" data-accordion="" role="tablist">
				<li class="billing-information accordion-navigation accordion-item is-active" data-accordion-item>
					<a class="sackers accordion-title" href="#panel1a">1.- billing information</a>
					<div id="panel1a" class="content active" data="binfo">
						<div class="row">
							<div class="small-12 large-6 columns">
								<label for="firstname" data-storage="first_name">first name *
									<input required type="text" name="firstname" />
								</label>
								<label for="lastname" data-storage="last_name">last name *
									<input required type="text" name="lastname" />
								</label>
								<label for="email" data-storage="email">email *
									<input required type="text" name="email" />
								</label>
								<label for="address" data-storage="address">address *
									<input type="text" name="address" />
								</label>
								<label for="tel" data-storage="telephone">telephone *
									<input type="text" name="tel" />
								</label>
							</div>
							<div class="small-12 large-6 columns">
								<label for="bcompany" data-storage="country">company *
									<input type="text" name="company" />
								</label>
								<label for="bcity" data-storage="city">city *
									<input type="text" name="city" />
								</label>
								<label for="bstate" data-storage="state">state/province *
									<input type="text" name="state" />
								</label>
								<label for="bzip" data-storage="zip_code">zip/postalcode *
									<input type="text" name="zip" />
								</label>
								<label for="bcountry" data-storage="country">country *
									<input type="text" name="country" />
								</label>
							</div>
						</div>
						<div class="row">
							<div class="small-12 large-6 columns">
								<div class="row">
									<div class="small-12 columns">
										<input id="checkboxship" name="shipad" type="checkbox">
										<label for="checkboxship" class="left vertical-align">use for shipping address</label>
										<br/>
										<br/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="shipping-information accordion-navigation accordion-item" data-accordion-item>
					<a class="sackers accordion-title" href="#panel2a">2.- shipping information</a>
					<div id="panel2a" class="content" data="sinfo">
						<div class="row">
							<div class="small-12 large-6 columns">
								<label for="firstname" data-storage="first_name">First name *
									<input required type="text" name="firstname" />
								</label>
								<label for="lastname" data-storage="last_name">Last name *
									<input required type="text" name="lastname" />
								</label>
								<label for="email" data-storage="email">Email *
									<input required type="text" name="email" />
								</label>
								<label for="address" data-storage="address">Address *
									<input required type="text" name="address" />
								</label>
								<label for="tel" data-storage="telephone">Telephone *
									<input required type="text" name="tel" />
								</label>
							</div>
							<div class="small-12 large-6 columns">
								<label for="company" data-storage="company">Company *
									<input required type="text" name="scompany" id="scompany" />
								</label>
								<label for="city" data-storage="city">City *
									<input required type="text" name="scity" id="scity" />
								</label>
								<label for="state" data-storage="state">State/province *
									<input required type="text" name="sstate" id="sstate"  />
								</label>
								<label for="zip" data-storage="zip_code">Zip/postalcode *
									<input required type="text" name="szip" id="szip"  />
								</label>
								<label for="country" data-storage="country">Country *
									<input required type="text" name="scountry" id="scountry" />
								</label>
								<label for="checkboxfed">
									<input id="checkboxfed" name="fedship" type="checkbox">FedEx standard shipping 20.00 USD
								</label>
							</div>
						</div>
						<div class="row">
							<div class="margin-top-50">
								<div class="small-12 medium-6 large-6 columns">
									<a class="back-to-cart-button tiny button">
										<p><strong>back to cart</strong></p>
									</a>
								</div>
								<div class="small-12 medium-6 large-6 columns">
									<a class="purchase-button tiny button">
										<p><strong>purchase</strong></p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- <li class="review-and-place-order accordion-navigation accordion-item" data-accordion-item>
					<a class="sackers accordion-title" href="#panel3a">3.- Review and place order</a>
					<div id="panel3a" class="content">

						<div class="review-products">
							
						</div>

						<hr />
					</div>
				</li> -->
			</ul>
		</div>
	</div>
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-reviewModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>
</div>

<!-- TODO: Add cart here -->
<div class="header_white">
	<img id="r-top-logo" class="hidden" src="/rideau-data/landing/rideau-logo-hidden.svg" />
</div>

<blueprints>
	<div class="row item">
		<div class="small-12 medium-8 large-8 columns">
			<div class="row">
				<div class="small-4 large-4 columns">
					<img class="item-image" src="http://placehold.it/100x100" />
				</div>
				<div class="small-8 large-8 columns">
					<div class="row">
						<div class="small-12 large-12 columns">
							<div class="item-buy-data">
								<h5 class="item-name"><strong>ref</strong></h5>
								<h5 class="item-sku">ref</h5>
								<p>size: <span class="item-size">size</span></p>
								<p>color: <span class="item-color">white</span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-4 large-4 columns">
			<div class="row">
				<div class="small-6 large-6 columns">
					<p>Qnty:</p>
					<table class="up-down-controls" cellSpacing="0" cellPadding="0" width="100%" border="0">
						<tr>
							<td align="">
								<input type="button" value="-" class="tiny button btn-qty right" field="quantity" />
							</td>
							<td align="">
								<input type="text" name="quantity" class="quantity" placeholder="0" value="0" />
							</td>
							<td align="">
								<input type="button" value="+" class="tiny button btn-qty left" field="quantity" />
							</td>
						</tr>
					</table>
				</div>
				<div class="small-6 large-6 columns">
					<p>Unit price:</p>
					<p><span class="item-price">price</span> usd</p>
				</div>
			</div>
		</div>
	</div>
</blueprints>

<script>
	$(function() {
		$('a[href="#cartModal"]').on('click', function() {
			var rideauCart = JSON.parse(localStorage.storedCart);
			var blueprintItem = $('blueprints .item');
			var cartItems = $('.cart-items');
			
			cartItems.empty(); //Empty cart
			_.times(rideauCart.length, function(i) {
				var tempItem = blueprintItem.clone();
				
				tempItem.find('.item-name').html(rideauCart[i].name);
				tempItem.find('.item-image').attr('src', rideauCart[i].image);
				tempItem.find('.item-sku').html(rideauCart[i].sku);
				tempItem.find('.item-price').html(rideauCart[i].price);
				
				cartItems.append(tempItem);
			});
			
			//Increment value buttons Plus and Minus (TODO: Relocate pls)
			$("input.btn-qty").on("click", function(el) {
				if (this.value == "+") {
					var quantityInput = $(this).parent().prev().find('input');
					quantityInput.val(+quantityInput.val() + 1);
				} else {
					var quantityInput = $(this).parent().next().find('input');
					quantityInput.val(+quantityInput.val() - 1)
					if (+quantityInput.val() < 0) quantityInput.val(0);
				}
				
				/* var totalPrice = $(".total-sum").html();
				var $button = $(this);
				var item = $(this).attr("item");
				var oldValue = $("input.quantity[item='"+item+"']").val();
				var storedCart = JSON.parse(localStorage.getItem('storedCart'));
				
				if ($button.val() == "+") {
					var newVal = parseFloat(oldValue) + 1;
					var newTotal = parseFloat(totalPrice) + parseFloat(storedCart[item].price);
				} else {
					//Don't allow decrementing below zero
					if (oldValue > 0) {
						var newVal = parseFloat(oldValue) - 1;
						var newTotal = parseFloat(totalPrice) - parseFloat(storedCart[item].price);
					} else {
						newVal = 0;
					}
				}
				if (newVal < 1 ) $(this).closest(".item").remove();
				// Update quantity
				$("input.quantity[item='"+item+"']").val(newVal);
				updateLocalStorage();
				// Update price
				$(".total-sum").html(newTotal);
				if (newTotal == 0) {
					$('#empty-carr-modal').foundation('reveal', 'open');
					$('#carr-modal').foundation('reveal', 'close');
				}*/
			});
		});
		
		//Cart first step buttons
		$('.back-to-shopping-button.button').on('click', function() {
			$('.close-cartModal').trigger('click');
		});
		$('.proceed-to-purchase-button.button').on('click', function() {
			$('.close-cartModal').trigger('click');
			$('a[href$="#reviewModal"]').trigger('click');
		});
		
		//Cart second step buttons
		$('.back-to-cart-button.button').on('click', function() {
			//TODO
		});
		$('.purchase-button.button').on('click', function() {
			$('.close-reviewModal').trigger('click');
			swal({
				title: 'thanks for your purchase',
				showConfirmButton : false,
				showCancelButton: true
			});
		});
	});
	
	$(document).mousemove(function(e) {
		var height;
		
		if (document.body) {
			height = (document.body.clientHeight);
		} else {
			height = (window.innerHeight);
		}
		
		/* console.log(e.pageY - $(window).scrollTop()); */
		if ((e.pageY - $(window).scrollTop()) < 150 /*|| (e.pageY - $(window).scrollTop()) > (height - 60)*/ ) { //The bottom limit is commented, uncomment to enable that functionality
			$('header').removeClass("hidden");
			$('#r-top-logo').addClass("hidden");
			//$('footer').removeClass("hidden"); //No longer used, footer is always visible
		} else {
			$('header').addClass("hidden");
			$('#r-top-logo').removeClass("hidden");
			//$('footer').addClass("hidden"); //No longer used, footer is always visible
		}
	});
</script>