<title>Rideau</title>
<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link  href="/rideau-data/favicon.ico" rel="shortcut icon" />

<!-- Core -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
<link href="/stylesheets/foundation.min.css" rel="stylesheet" />
<script src="/javascripts/jquery-2.2.4.min.js"></script>

<!-- Rideau  -->
<link href="/stylesheets/rideau.css" rel="stylesheet" />
<link href="/stylesheets/basic.css" rel="stylesheet" />

<!-- Plugins -->
<script src='/plugins/intense-images-master/intense.js'></script>