<!-- Header -->

<!-- Disabled until we have higher framerate version -->
<!-- <div id="loading">
	<img id="flag" src="/images/Rideau-Final-LogoSet-06.jpg" />
</div>
<script src="/javascripts/flag.js"></script> -->

<header>
	<div id="headera">
		<div class="row">
			<div class="text-center">
				<div class="middle-title akzidenz">
                    <!-- Show logo in this position in mobiles -->
                    <div class="show-for-small-only">
						<div class="small-12 medium-8 large-8 columns">
							<div class="row">
								<div class="small-12 medium-12 large-12 columns">
									<a href="/">
										<img id="rideau-logo" src="/images/rideau-logo-shown.svg"/>
									</a>
								</div>
								<div class="small-12 medium-12 large-12 columns">
									<a href="#" data-reveal-id="carr-modal">
                                        <img id="shopping-cart" src="/images/shop-black.png" />
                                    </a>
								</div>
							</div>
						</div>
					</div>
					<div class="small-6 medium-3 large-2 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 rideau-menu-column columns">
								<a href="#" class="header-top-text" data-reveal-id="collections-modal">COLLECTIONS</a>
								<!-- Collections modal class ideau-modal akzidenz -->
								<div id="collections-modal" class="reveal-modal rideau-modal version-2 small" data-reveal aria-hidden="true" role="dialog">
									<div class="center-container relative">
										<div class="center-block">
											<div class="row">
												<div class="small-10 small-centered medium-10 medium-centered large-10 large-centered columns">
													<div class="spanMiddle">
														<p><a href="/collections/ss15-lookbook">SS15 LOOKBOOK</a></p>
														<p><a href="/collections/aw16-campaign">AW16 CAMPAIGN</a></p>
														<p><a href="#" class="disabled">SS16 LOOKBOOK<br/></a></p>
														<p><a href="#" class="disabled">SS16 CAMPAIGN<br/></a></p>
													</div>
												</div>
											</div>
										</div>
										<a class="close-reveal-modal version-2 absolute"><span class="close thick"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
                    <!-- Hide logo in this position in mobiles -->
					<div class="hide-for-small-only">
						<div class="small-12 medium-6 large-8 columns">
							<div class="row">
								<div class="small-12 medium-12 large-12 columns">
									<a href="/">
										<img id="rideau-logo" src="/images/rideau-logo-shown.svg"/>
									</a>
								</div>
								<div class="small-12 medium-12 large-12 columns">
									<a href="#" data-reveal-id="carr-modal"><img id="shopping-cart" src="/images/shop-black.png"/></a>
								</div>
							</div>
						</div>
					</div>
					<div class="small-6 medium-3 large-2 columns">
						<div class="row">
							<div class="small-12 medium-12 small-12 rideau-menu-column columns">
								<a href="#" class="header-top-text" data-reveal-id="eboutique-modal">E-BOUTIQUE</a>
								<!-- Eboutique modal -->
								<div id="eboutique-modal" class="reveal-modal rideau-modal version-2" data-reveal aria-hidden="true" role="dialog">
									<div class="center-container relative">
										<div class="center-block">
											<div class="row">
												<div class="small-6 small-centered columns">
													<div class="spanMiddle">
														<p><a href="/eboutique#male"><span class="male_button">XY</span></a> | <a href="#" class="disabled"><span class="female_button">XX</span></a></p>
													</div>
												</div>
											</div>
										</div>
										<a class="close-reveal-modal version-2 absolute"><span class="close thick"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- TODO: Add cart here -->

<div class="header_white">
	<img id="r-logo" class="hidden" src="/images/rideau-logo-hidden.svg" width="75" />
</div>
<div class="header_spacer"></div>
