<title>Rideau</title>
<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="/javascripts/jquery-2.2.4.min.js"></script>
<link  href="/images/favicon.ico" rel="shortcut icon" />
<link  href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
<link href="/stylesheets/foundation.min.css" rel="stylesheet" />

<!-- Own CSS files -->
<link href="/stylesheets/rideau.css" rel="stylesheet" />
<link href="/stylesheets/basic.css" rel="stylesheet" />