<header class="rideau sackers">
	<div class="row">
		<div class="text-center">
			<div class="middle-title">
				<!-- Show logo in this position in mobiles -->
				<div class="show-for-small-only">
					<div class="small-12 medium-8 large-8 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
								<a href="/">
									<img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
								</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<% include _cart-button.ejs %>
							</div>
						</div>
					</div>
				</div>
				<div class="small-6 medium-3 large-3 columns">
					<div class="header-text-container">
						<div class="row">
							<div class="small-12 medium-12 large-12 rideau-menu-column columns">
								<a class="amodal header-top-text" href="#collectionsModal">collections</a>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Hide logo in this position in mobiles -->
				<div class="hide-for-small-only">
					<div class="small-12 medium-6 large-6 columns">
						<div class="row">
							<div class="small-12 medium-12 large-12 columns">
								<a href="/">
									<img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
								</a>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<div class="apc-container text-center">
									<a href="/about">about</a>
									<a href="/press">press</a>
									<a href="/contact">contact</a>
								</div>
							</div>
							<div class="small-12 medium-12 large-12 columns">
								<% include _cart-button.ejs %>
							</div>
						</div>
					</div>
				</div>
				<div class="small-6 medium-3 large-3 columns">
					<div class="header-text-container">
						<div class="row">
							<div class="small-12 medium-12 small-12 rideau-menu-column columns">
								<a class="amodal header-top-text" href="#eboutiqueModal">e-boutique</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Good modals -->
<div id="collectionsModal" class="animated-rideau-modal">
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-collectionsModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>

	<div class="modal-content">
		<div class="auto-adjustable-y">
			<div class="row">
				<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
					<a href="/collections/ss15-lookbook"><p>ss15 lookbook</p></a>
					<a href="/collections/aw16-campaign"><p>AW16 CAMPAIGN</p></a>
					<a href="#" class="disabled"><p>SS16 LOOKBOOK<br/></p></a>
					<a href="#" class="disabled"><p>SS16 CAMPAIGN<br/></p></a>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div id="eboutiqueModal" class="animated-rideau-modal">
	<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
	<div class="closeContainer close-eboutiqueModal"> 
		<img src="/rideau-data/extras/modal-close.png" />
	</div>
		
	<div class="modal-content">
		<div class="auto-adjustable-y">
			<div class="row">
				<div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
					<a href="/eboutique#male"><span class="male_button"><p>xy</p></span></a>
					<span class="separator-dash"> | </span>
					<a href="#" class="disabled"><span class="female_button"><p>xx</p></span></a>
				</div>
			</div>
		</div>
	</div>
</div>	

<!-- TODO: Add cart here -->
<div class="header_white">
	<img id="r-top-logo" class="hidden" src="/rideau-data/landing/rideau-logo-hidden.svg" />
</div>

<script>
	$(function() {
		$('.amodal').each(function() {
			$(this).animatedModal({ modalTarget: $(this).attr('href').substr(1) });
		});
	});
	
	$(document).mousemove(function(e) {
		var height;
		if (document.body) {
			height = (document.body.clientHeight);
		} else {
			height = (window.innerHeight);
		}
		
		/* console.log(e.pageY - $(window).scrollTop()); */
		if ((e.pageY - $(window).scrollTop()) < 150 /*|| (e.pageY - $(window).scrollTop()) > (height - 60)*/ ) { //The bottom limit is commented, uncomment to enable that functionality
			$('header').removeClass("hidden");
			$('#r-top-logo').addClass("hidden");
			//$('footer').removeClass("hidden"); //No longer used, footer is always visible
		} else {
			$('header').addClass("hidden");
			$('#r-top-logo').removeClass("hidden");
			//$('footer').addClass("hidden"); //No longer used, footer is always visible
		}
	});
</script>