<title>Rideau</title>
<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link  href="/rideau-data/favicon.ico" rel="shortcut icon" />

<!-- Core -->
<link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
<link href="/stylesheets/foundation.min.css" rel="stylesheet" />
<script src="/javascripts/jquery-2.2.4.min.js"></script>

<!-- Rideau  -->
<link href="/stylesheets/rideau.css" rel="stylesheet" />
<link href="/stylesheets/basic.css" rel="stylesheet" />

<!-- Plugins -->
<link href="/plugins/animated-modal/animate.min.css" rel="stylesheet">
<script src='/plugins/intense-images-master/intense.js'></script>
<script src="/plugins/splash-screen/splash.js" type="text/javascript"></script>
<link href="/plugins/splash-screen/splash.css" rel="stylesheet" />

<!-- Splash screen -->
<script type="text/javascript">
	$(document).ready(function () {
		$.SplashScreen({
			progressCount: false,
			progressBar: false,
			timeToFade: 250, //In milliseconds (eg: 1000 = 1sec)
			timeOut: 2000 //In milliseconds (eg: 2000 = 2sec)
		});
	});
</script>