<div class="icons">
	<a href="https://twitter.com/rideau_us" target="_blank">
		<img class="svg twitter" src="/rideau-data/social-networks/twitter.svg" alt="Twitter" style="display: none;" />
	</a>
	<a href="https://www.instagram.com/rideaudesign/" target="_blank">
		<img class="svg instagram" src="/rideau-data/social-networks/instagram.svg" alt="Instagram" style="display: none;" />
	</a>
	<a href="http://rideaudesign.tumblr.com/" target="_blank">
		<img class="svg tumblr" src="/rideau-data/social-networks/tumblr.svg" alt="Tumblr" style="display: none;" />
	</a>
	<a href="https://vimeo.com/rideaudesign" target="_blank">
		<img class="svg vimeo" src="/rideau-data/social-networks/vimeo.svg" alt="Vimeo" style="display: none;" />
	</a>
</div>