<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="about">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div class="row">
				<div class="small-10 small-centered medium-8 medium-centered large-6 large-centered columns">
					<p><span class="bold">rideau</span> is a luxury contemporary brand launched in 2015. inspired by the americana aesthetic, and maintaining an american commitment to craftsmanship, the line draws inspiration from both japanese and european culture. this combination of influences results in garments and accessories boasting timeless artistry, although each piece is constructed using progressive techniques with regard to both fabrication and fit.</p>
					<p><span class="bold">rideau</span> represents the epitome of a lifestyle brand - seamlessly combining functionality, technicallity and modernism. utilizing the highest quality fabrics and textiles from around the world, <span class="bold">rideau</span> is manufactured in the united states between studios in <span style="white-space: nowrap;">new york</span> and <span style="white-space: nowrap;">san francisco</span>.</p>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>