<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
		<link rel="stylesheet" href="/plugins/thumbnail-scroller-2.0.3/thumbnail-scroller-2.0.3.css">
		<link rel="stylesheet" type="text/css" href="/plugins/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="/plugins/slick/slick-theme.css">
	</head>
	
	<body id="collections">
		<% include _header.ejs %>
		
		
			
		<section class="rideau">
			<div class="row">
				<div class="small-12 medium-10 large-10 small-centered medium-centered large-centered columns">
					<div class="variable slider">
						<% Object.keys(data.hd).forEach(function(key) { %>
							<div look-id="<%= key %>">
								<img src="<%- data.hd[key] %>" />
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<script src="/plugins/thumbnail-scroller-2.0.3/thumbnail-scroller-2.0.3.js"></script>
		<script src="/plugins/slick/slick.js" type="text/javascript" charset="utf-8"></script>
		
		<script>
			$(function() {
				console.log("load");
				
				$(".variable").slick({
					dots: false,
					centerMode: true,
					infinite: true,
					variableWidth: true
				});
			});
		</script>
		
		<!-- Footer scripts -->
		<% include _scripts.ejs %>
	</body>
</html>
