<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="contact">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div class="row">
				<div class="row">
					<div class="small-12 large-12 small-centered large-centered columns contact-info">
						<h5 class="bold">general</h5>
						<h5>rideau new york</h5>
						<p>New York, NY 10018</p>
						<a href="mailto:info@ri-deau.com"><p>info@ri-deau.com</p></a>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 small-centered large-centered columns contact-info">
						<h5 class="bold">showroom - press</h5>
						<h5>ler pr</h5>
						<p>580 Broadway, Suite 309</p>
						<p>+1 646 692 3244</p>
						<a href="mailto:jlerman@lerpr.com"><p>jlerman@lerpr.com</p></a>
					</div>
				</div>
				<div class="row" style="display: none;">
					<div class="small-12 large-12 small-centered large-centered columns contact-info">
						<h5 class="bold">showroom + press</h5>
						<h5>the brand house agency</h5>
						<p>329 N. Wetherly Drive Suite 208</p>
						<p>+1.424.230.3309</p>
						<a href="mailto:priscila@thebrand-house.com"><p>priscila@thebrand-house.com</p></a>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>