<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="contact">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div class="row">
				<div class="row">
					<div class="small-12 large-12 small-centered large-centered columns contact-info">
						<h5>GENERAL</h5>
						<p>RIDEAU NEW YORK</p>
						<p>265 W 37th Street Suite 2102</p>
						<p>New York, NY 1001B</p>
						<p>info@rideau.com</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 small-centered large-centered columns contact-info">
						<h5>SHOWROOM - PRESS - SALES</h5>
						<p>LER PR</p>
						<p>580 Broadway, Suite 309</p>
						<p>+1 646 692 3244</p>
						<p>jlerman@lerpr.com</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 small-centered large-centered columns contact-info">
						<h5>SHOWROOM + PRESS</h5>
						<p>THE BRAND HOUSE AGENCY</p>
						<p>329 N. Wetherly Drive Suite 208</p>
						<p>+1.424.230.3309</p>
						<p>priscila@thebrand-house.com</p>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>