<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="landing-body">
		<% include _header.ejs %>

		<div class="row text-center">
			<div class="large-12 columns margin-bottom-10">
                <div class="fluid">
                    <iframe class="fluid-vid" src="https://player.vimeo.com/video/175421830?color=ffffff&title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>    
            <!-- <div class="large-6 small-12 margin-bottom-10 columns">
				<a href="/lookbook/aw16-campaign">
                    <img src="/images/landing/collection-left.jpg" data-zoom-image="images/resized/collection-left.jpg" />
                </a>
			</div>
			<div class="large-6 small-12 margin-bottom-10 columns">
				<a href="/lookbook/aw16-campaign">
                    <img src="/images/landing/collection-right.jpg" data-zoom-image="images/resized/collection-right.jpg" />
                </a>
			</div> -->
		</div>        
        
        <% include _footer.ejs %>
        <% include _scripts.ejs %>
	</body>
</html>
