<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="landing">
		<div id="splashscreen" style="display: none;">
			<div id="progress"></div>
			<div id="status"></div>
		</div>
		
		<% include _header.ejs %>
		
		<section class="rideau landing-fix">
			<div class="row">
				<div class="large-12 columns margin-bottom-10 no-padding">
					<div class="fluid">
						<iframe class="fluid-vid" src="https://player.vimeo.com/video/175421830?color=ffffff&title=0&byline=0&portrait=0" width="978" height="550" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div>
				<!-- Old landing structure -->
				<!-- <div class="large-6 small-12 margin-bottom-10 columns">
					<a href="/lookbook/aw16-campaign">
						<img src="/rideau-data/landing/collection-left.jpg" data-zoom-image="rideau-data/resized/collection-left.jpg" />
					</a>
				</div>
				<div class="large-6 small-12 margin-bottom-10 columns">
					<a href="/lookbook/aw16-campaign">
						<img src="/rideau-data/landing/collection-right.jpg" data-zoom-image="rideau-data/resized/collection-right.jpg" />
					</a>
				</div> -->
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
		
		<script>
			$(function() {
				var $allVideos = $(".fluid-vid"), //Find all videos
					$fluidEl = $(".fluid"); //The element that is fluid width
				
				//Figure out and save aspect ratio for each video
				$allVideos.each(function() {
					$(this).data('aspectRatio', this.height / this.width).removeAttr('height').removeAttr('width');
				});
					
				function fixVideos() {
					var newWidth = $fluidEl.width();
					//Resize all videos according to their own aspect ratio
					$allVideos.each(function() {
						var $el = $(this);
						
						$el.width(newWidth).height(newWidth * $el.data('aspectRatio'));
					});
				}
				
				//When the window is resized
				$(window).resize(function() {
					fixVideos();
				}).resize();
				
				fixVideos();
			});
		</script>
		
	</body>
</html>