<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="press">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div class="row">
				<% Object.keys(data).forEach(function(key) { %>
					<div class="small-12 medium-6 large-4 columns">
						<div class="press-item">
							<a class="<%- data[key].class %>" href="<%- data[key].link %>" target="_blank">
								<div class="press-image" style="background-image: url('<%- data[key].logo %>')"></div>
								<p><%- data[key].title %></p>
							</a>
						</div>
					</div>
				<% }); %>
			</div>
			
			<div id="essentialHomeModal" class="animated-rideau-modal">
				<div class="auto-adjustable-y">
					<div class="row">
						<div class="small-6 columns">
							<img id="essential-img1" src="/rideau-data/press/020-essential-homme/images/1.jpg" style="max-width:85%" />
						</div>
						<div class="small-6 columns">
							<img id="essential-img2" src="/rideau-data/press/020-essential-homme/images/2.jpg" style="max-width:85%" />
						</div>
					</div>
				</div>
				<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
				<div class="closeContainer close-essentialHomeModal"> 
					<img src="/rideau-data/extras/modal-close.png" />
				</div>
			</div>
			
			<div id="mrmagModal" class="animated-rideau-modal">
				<div class="auto-adjustable-y">
					<div class="row">
						<div class="small-6 small-centered columns">
							<img id="essential-img1" src="/rideau-data/press/017-mrmag/images/1.jpg" style="max-width:85%" />
						</div>
					</div>
				</div>
				<!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
				<div class="closeContainer close-mrmagModal"> 
					<img src="/rideau-data/extras/modal-close.png" />
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>