<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="press-body">
		<% include _header.ejs %>
		
		<section id="headerpanel">
			<div id="press" class="valign-middle">
				<div class="spanMiddle fullpage-height">
					<div class="row">
						<div class="small-6 small-centered columns">
							<div class="press-item">
								<a href="http://www.complex.com/style/2015/07/rideau-brand-designer-dylan-granger-interview"><img id="complex-logo" src="/images/rideau_press_logos/complex.png" width="150px"/></a>
								<p>2015</p>
							</div>
							<div class="press-item">
								<a href="#" data-reveal-id="press-gallery-modal"><img id="highsnobiety-logo" src="/images/rideau_press_logos/essentialhomme.png" width="150px"/></a>
								<% include partials/press-gallery-modal.ejs %>
								<p>2016</p>
							</div>
							<div class="press-item">
								<a href="http://www.highsnobiety.com/2016/03/16/best-upcoming-brands-march/"><img id="highsnobiety-logo" src="/images/rideau_press_logos/highsnobiety.jpg" width="150px"/></a>
								<p>2016</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>