<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="sizing">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div>
				<div class="row">
					<div class="seven-style-theme">
						<div class="large-2 small-3 columns">
							<div class="left-box">
								<h3 class="title">sizing</h3>
							</div>
						</div>
						<div class="large-10 small-9 columns">
							<div class="right-box">
								<h4 class="title">mens ready-to-wear</h4>
								<div class="box-item">
									 <table class="sizing-table">
										 <tr>
											<td class="left-most">Rideau sizing</td>
											<td>0 - xxs</td>
											<td>1 - xs</td>
											<td>2 - s</td>
											<td>3 - m</td>
											<td>4 - l</td>
											<td>5 - xl</td>
											<td>6 - xxl</td>
										</tr>
										<tr>
											<td class="left-most">Denim trouser</td>
											<td>27-28</td>
											<td>29-30</td>
											<td>30-31</td>
											<td>32-33</td>
											<td>34-36</td>
											<td>36-38</td>
											<td>-</td>
										</tr>
										<tr>
											<td class="left-most">US sizing</td>
											<td>34</td>
											<td>36</td>
											<td>38</td>
											<td>40</td>
											<td>42</td>
											<td>44</td>
											<td>46</td>
										</tr>
										<tr>
											<td class="left-most">UK sizing</td>
											<td>34</td>
											<td>36</td>
											<td>38</td>
											<td>40</td>
											<td>42</td>
											<td>44</td>
											<td>46</td>
										</tr>
										<tr>
											<td class="left-most">European sizing</td>
											<td>44</td>
											<td>46</td>
											<td>48</td>
											<td>50</td>
											<td>52</td>
											<td>54</td>
											<td>56</td>
										</tr>
										<tr>
											<td class="left-most">Japan sizing</td>
											<td>36</td>
											<td>37</td>
											<td>38</td>
											<td>39</td>
											<td>41</td>
											<td>42</td>
											<td>-</td>
										</tr>
										<tr>
											<td class="left-most">Korea sizing</td>
											<td>90</td>
											<td>95</td>
											<td>100</td>
											<td>105</td>
											<td>110</td>
											<td>115</td>
											<td>-</td>
										</tr>
										<tr>
											<td class="left-most">China sizing</td>
											<td>160/84a</td>
											<td>168/88a</td>
											<td>170/92a</td>
											<td>175/96a</td>
											<td>180/100a</td>
											<td>185/104a</td>
											<td>-</td>
										</tr>
									</table> 
								</div>
							</div>
							<div class="right-box">
								<h4 class="title">womens ready-to-wear</h4>
								<div class="box-item">
									<p class="akzidenz" style="letter-spacing: 1px;">Coming soon</p>
								</div>
							</div>
							<div class="right-box">
								<h4 class="title">custom sizing</h4>
								<div class="box-item">
									<p class="akzidenz" style="letter-spacing: 1px;">Please contact <a href="mailto:info@ri-deau.com">info@ri-deau.com</a></p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>