<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="sizing">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div class="row">
				<div class="seven-style-theme">
					<div class="large-2 small-3 columns">
						<div class="left-box">
							<h4 class="title">SIZING</h4>
						</div>
					</div>
					<div class="large-10 small-9 columns">
						<div class="right-box">
							<h4 class="title">MENS READY-TO-WEAR</h4>
							<div class="box-item">
								<i class="show-for-small-only fa fa-caret-left change-back icn_left" aria-hidden="true"></i>
								<i class="show-for-small-only fa fa-caret-right change icn_rigth" aria-hidden="true" ></i>
								 <table class="sizing-table row">
									 <tr>
										<td class="left-most">RIDEAU SIZING</td> 
										<td class="e_0">  0 - XXS  </td>
										<td class="e_1 hide-for-small-only"> 1 - XS </td>
										<td class="e_2 hide-for-small-only"> 2 - S 	</td>
										<td class="e_3 hide-for-small-only"> 3 - M </td>
										<td class="e_4 hide-for-small-only"> 4 - L </td>
										<td class="e_5 hide-for-small-only"> 5 - XL </td>
										<td class="e_6 hide-for-small-only"> 6 - XXL</td>
									</tr>
									<tr>
										<td class="left-most">DENIM TROUSSER</td>
										<td class="e_0">27-28</td>
										<td class="e_1 hide-for-small-only">29-30</td>
										<td class="e_2 hide-for-small-only">30-31</td>
										<td class="e_3 hide-for-small-only">32-33</td>
										<td class="e_4 hide-for-small-only">34-36</td>
										<td class="e_5 hide-for-small-only">36-38</td>
										<td class="e_6 hide-for-small-only">-</td>
									</tr>
									<tr>
										<td class="left-most">US SIZING</td>
										<td class="e_0">34</td>
										<td class="e_1 hide-for-small-only">36</td>
										<td class="e_2 hide-for-small-only">38</td>
										<td class="e_3 hide-for-small-only">40</td>
										<td class="e_4 hide-for-small-only">42</td>
										<td class="e_5 hide-for-small-only">44</td>
										<td class="e_6 hide-for-small-only">46</td>
									</tr>
									<tr>
										<td class="left-most">UK SIZING</td>
										<td class="e_0">34</td>
										<td class="e_1 hide-for-small-only">36</td>
										<td class="e_2 hide-for-small-only">38</td>
										<td class="e_3 hide-for-small-only">40</td>
										<td class="e_4 hide-for-small-only">42</td>
										<td class="e_5 hide-for-small-only">44</td>
										<td class="e_6 hide-for-small-only">46</td>
									</tr>
									<tr>
										<td class="left-most">EUROPEAN SIZING</td>
										<td class="e_0">44</td>
										<td class="e_1 hide-for-small-only">46</td>
										<td class="e_2 hide-for-small-only">48</td>
										<td class="e_3 hide-for-small-only">50</td>
										<td class="e_4 hide-for-small-only">52</td>
										<td class="e_5 hide-for-small-only">54</td>
										<td class="e_6 hide-for-small-only">56</td>
									</tr>
									<tr>
										<td class="left-most">JAPAN SIZING</td>
										<td class="e_0">36</td>
										<td class="e_1 hide-for-small-only">37</td>
										<td class="e_2 hide-for-small-only">38</td>
										<td class="e_3 hide-for-small-only">39</td>
										<td class="e_4 hide-for-small-only">41</td>
										<td class="e_5 hide-for-small-only">42</td>
										<td class="e_6 hide-for-small-only">-</td>
									</tr>
									<tr>
										<td class="left-most">KOREA SIZING</td>
										<td class="e_0">90</td>
										<td class="e_1 hide-for-small-only">95</td>
										<td class="e_2 hide-for-small-only">100</td>
										<td class="e_3 hide-for-small-only">105</td>
										<td class="e_4 hide-for-small-only">110</td>
										<td class="e_5 hide-for-small-only">115</td>
										<td class="e_6 hide-for-small-only">-</td>
									</tr>
									<tr>
										<td class="left-most">CHINA SIZING</td>
										<td class="e_0">160/84A</td>
										<td class="e_1 hide-for-small-only">168/88A</td>
										<td class="e_2 hide-for-small-only">170/92A</td>
										<td class="e_3 hide-for-small-only">175/96A</td>
										<td class="e_4 hide-for-small-only">180/100A</td>
										<td class="e_5 hide-for-small-only">185/104A</td>
										<td class="e_6 hide-for-small-only">-</td>
									</tr>
								</table> 
							</div>
						</div>
						<div class="right-box">
							<h4 class="title">WOMENS READY-TO-WEAR</h4>
							<div class="box-item">
								<p class="akzidenz">Coming soon</p>
							</div>
						</div>
						<div class="right-box">
							<h4 class="title">CUSTOM SIZING</h4>
							<div class="box-item">
								<p class="akzidenz">Please contact <a href="mailto:info@ri-deau.com">info@ri-deau.com</a></p>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>