<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="stockist">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div class="row">
				<div class="seven-style-theme">
					<div class="large-4 small-3 columns">
						<div class="left-box">
							<h4 class="title">STOCKISTS</h3>
						</div>
					</div>
					<div class="large-8 small-9 columns">
						<div class="right-box">
							<h4 class="title">JAPAN</h4>
							<div class="box-item">
								<h4 class="box-title">#203 TOKYO</h4>
								<p>TAITO-KU, TOKYO SANSUJI 1 - 2 - 5</p>
								<p class="phone">T: 03-5835-2566</p>
							</div>
							<div class="box-item">
								<h4 class="box-title">#203 KYOTO</h4>
								<p>KYOTO, KYOTO PREFECTURE,</p>
								<p>HIMOGYO-KU SHIJO STREET TERAMACHI</p>
								<p>EAST ENTER GOTABI CHO 35 TAKASHIMAYA</p>
								<p>KYOTO SHOP NORTH BUILDING 1F</p>
								<p class="phone">T: 075-279-2904</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>