<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="stockists">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div class="row">
				<div class="seven-style-theme">
					<div class="large-2 medium-2 small-6 columns">
						<div class="left-box">
							<h3 class="title">stockists</h3>
						</div>
					</div>
					<div class="large-10 medium-10 small-6 columns">
						<div class="right-box">
							<h4 class="title">JAPAN</h4>
							<div class="box-item">
								<h4 class="box-title">#203 TOKYO</h4>
								<p>Taito-Ku, Tokyo Sansuji 1 - 2 - 5</p>
								<p class="phone">T: 03-5835-2566</p>
							</div>
							<div class="box-item">
								<h4 class="box-title">#203 KYOTO</h4>
								<p>Kyoto, Kyoto Prefecture,</p>
								<p>Himogyo-Ku shijo street Teramachi</p>
								<p>East enter Gotabi Cho 35 Takashimaya</p>
								<p>Kyoto shop north building 1F</p>
								<p class="phone">T: 075-279-2904</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>