<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="about">
		<% include _header.ejs %>
		
		<section class="rideau">
			<div class="row">
				<div class="large-4 columns">
					<h3 class="text-right">STOCKISTS</h3>
				</div>
				<div class="large-8 columns">
					<h4>JAPAN</h4>
					<div class="stockist-item">
						<strong><p>TAITO-KU, TOKYO SANSUJI 1 - 2 - 5</p></strong>
						<p>T: 03-5835-2566</p>
					</div>
					<div class="stockist-item">
						<strong><h4>KYOTO, KYOTO PREFECTURE,</h4></strong>
						<p>HIMOGYO-KU SHIJO STREET TERAMACHI</p>
						<p>EAST ENTER GOTABI CHO 35 TAKASHIMAYA</p>
						<p>KYOTO SHOP NORTH BUILDING 1F</p>
						<p>T: 075-279-2904</p>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<% include _scripts.ejs %>
	</body>
</html>